.project_container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    text-align: center;
}

.description {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
}

.description form {
    padding: 10px;
}

.carousel_container {
    width: 600px;
    height: 365px;
    padding: 5px;
    margin: 20px auto 20px auto;
    box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.8);
}

/* .carousel_container img {
    height: 80%;
    overflow: hidden;
} */


.technology ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.technology {
    margin: 0 auto;
    display: flex;
    padding: 5px;
}

.technology li {
    font-size: 14px;
}

.info {
    display: flex;
}

.dark {
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);;
    color: white;
}



.aws_btn {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 770ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #a45656;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #65c1ab;
    --control-bullet-active-color: #56a491;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
}

.aws_sld {
    --cube-animation-duration: 675ms;
    --cube-animation-perspective: 1800px;
    --cube-animation-ease-in: cubic-bezier(0.8, 0, 1, 0.8);
    --cube-animation-ease-out: cubic-bezier(0, 0.2, 0.2, 1);
    --cube-translateZ-distance: -225px;  
 }

 

 @media only screen 
/* and (min-device-width : 414px)  */
and (max-device-width : 736px) {
    .project_container {
        grid-template-rows: 1fr 2fr;
        height: 100vh;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }

    .carousel_container {
        width: 375px;
        height: 285px;
        margin: 0 auto;
    }

    .info {
        flex-direction: column;
    }
}