.project_container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    text-align: center;
}

.description {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.description form {
    padding: 10px;
}

.carousel_container {
    width: 90%;
    margin: 0 auto;
}

.technology ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.technology {
    margin: 0 auto;
    display: flex;
    padding: 5px;
}

.technology li {
    font-size: 14px;
}



.aws_btn {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 770ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #56a491;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #65c1ab;
    --control-bullet-active-color: #56a491;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
}
