.container {
    text-align: center;
    margin: 0 auto;
    padding: 50px 10px 50px 10px;
}

.container h1 {
    font-size: 48px;
    margin: 0 auto 20px auto;
    width: 80%;
}

.container h2 {
    font-size: 34px;
    width: 40%;
    margin: 20px auto 10px auto;
}

.container p {
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
}

.dark {
    background-color: black;
    color: white;
}

.dark h1 {
    border-bottom: 1px solid white;
}

@media screen 
  and (min-device-width: 1000px) {
    .container {
        width: 60%;
        padding: 80px;
    }

    .container h1 {
        font-size: 56px;
        width: 50%;
    }

    .container p {
        font-size: 22px;
    }
  }




