.contact_container {
    padding: 30px;
    color: black;
    background-size: 100% 100%;
    font-size: 36px;
    opacity: 07;
    top: 40%;
    left: 30%;
    right: 30%;
    line-height: 2em;
    text-align: center;
    box-sizing: border-box;
  }

  .icons a {
    background: #232323;
    display: inline-flex;
    font-size: 56px;
    width: 90px;
    height: 90px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 35%;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in all;
    cursor: pointer;
    color: white;
  }
  
  .icons a:hover {
    background: orangered;
    border-radius: 50%;
    font-size: 24px;
  }
  
  .icons:hover {
    font-size: 34px;
  }