.contact_container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 10%;
    color: black;
    background-size: 100% 100%;
    font-size: 36px;
    opacity: 07;
    line-height: 2em;
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
    font-size: 28px;
}

.bubble_container {
    margin-top: 20px;
    box-sizing: border-box;
}

.icons a {
    background: #232323;
    display: inline-flex;
    font-size: 56px;
    width: 90px;
    height: 90px;
    margin: 10px 20px 10px 20px;
    border-radius: 35%;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in all;
    cursor: pointer;
    color: white;
    opacity: 0.9;
}
  
.icons a:hover {
    background: #add8e6;
    border-radius: 50%;
    font-size: 24px;
    opacity: 1;
}

.dark {
    background-image: url(../../Images/rain.gif);
    color: white;
    background-size: cover;
}