.nav_container {
    background-color: var(--light-background);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 1;
    color: var(--light-font);
    font-size: 24px;
    /* border-bottom: 0.5px solid var(--light-font); */
    box-shadow: 0.8px 0.8px 0.8px 0.8px rgba(0,0,0,0.8);
    transition: var(--transition-delay);
}

.nav_container ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    
}

.nav_container a {
    align-items: center;
    padding: 5px;
    color: var(--light-font);
}

li {
    /* color: var(--light-font); */
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}

li:hover {
    color: orangered;
    transition: ease-in 0.5s;
}

a:hover {
    color: orangered;
    transition: ease-in 0.5s;
}

.icon {
    fill: var(--light-font);
    width: 30px;
    cursor: pointer;
  }

.dark_container {
    background-color: var(--dark-background);
    border-bottom: 1px solid var(--dark-font);
}

.dark_container li {
    color: var(--dark-font);
}

.dark_container a {
    color: var(--dark-font);
}

.dark_container .icon {
    fill: var(--dark-font);
}

.social_container {
    font-size: 28px;
}

@media only screen 
/* and (min-device-width : 414px)  */
and (max-device-width : 736px) {
    .nav_container {
        padding: 10px;
    }
}

