.nav_container {
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 100px;
    z-index: 1;
}


.logo span {
    display: block;
    text-align: center;
    font-size: 10px;
}

.nav_container ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav_container a {
    align-items: center;
    padding: 5px;
    
}

li {
    color: white;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}

li:hover {
    color: gray;
    transition: ease-in 0.5s;
}

a:hover {
    color: gray;
    transition: ease-in 0.5s;
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
    .nav_container {
        padding: 10px;
    }
}