* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  /* color: white; */
  box-sizing: border-box;
  --dark-background: rgba(0, 0, 0, 0.8);
  --light-background: rgba(255, 255, 255, 0.8);
  --dark-font: white;
  --light-font: black;
  --transition-delay: 1s;
}

.main_container {
  display: grid;
  /* height: 100vh;
  overflow: hidden; */
}

.icon {
  fill: orangered;
  width: 20px;
  cursor: pointer;
}


